html, body, #root, .pageLoading {
    height: 100vh;
    overflow: hidden;
}

#root {
    display: flex;
}

#root > div {
    flex: 1;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}

.pageLoading {
    display: flex;
    align-items: center;
    justify-content: center;
}